.grass{
    background-color: green !important;
}
.poison{
    background-color: blueviolet !important;
}
.water{
    background-color: blue;
}
.fire{
    background-color: orangered !important;
}
.electric{
    background-color:#eed535 !important;
}

.steel{
    background-color: slategrey !important;
}

.psychic{
    background-color: rgb(226, 111, 130) !important;
}

.bug{
    background-color: yellowgreen !important;
}
.rock{
    background-color: rgb(129, 119, 86) !important;
}
.ground{
    background-color: rgb(161, 119, 40) !important;
}
.normal{
    background-color: rgb(148, 148, 148) !important;
}
.fairy{
    background-color: pink !important;
}
.fighting{
    background-color: brown !important;
}
.flying{
    background-color: cornflowerblue !important;
}
.ice{
    background-color: rgb(97, 200, 231) !important;
}
.ghost{
    background-color: indigo !important;
}
.dragon{
    background-color: rgb(0, 51, 145) !important;
}
.dark{
    background-color: rgb(41, 41, 41) !important;
}